.card {
  padding: 20px;
  border-radius: 8px;
  border: 0.6px solid var(--neutral--blue-700);
  background-color: #0b1739;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutral--grey-400);
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  width: 14px;
  height: 14px;
}

.diagram {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 1;
  padding: 4px;
  border-radius: 2px;
}

.red {
  color: var(--red);
  border: 0.6px solid var(--red);
  background-color: var(--red-light);
}

.green {
  color: var(--green);
  border: 0.6px solid var(--green);
  background-color: var(--green-light);
}

@media (max-width: 1024px) {
  .card {
    padding: 12px;
  }
  .info {
    font-size: 18px;
  }
}
