:root {
  --text: #ffffff;
  --primary-pink: #cc3cfe;
  --primary-gradient: linear-gradient(to right bottom, #cc3cfe, #b451ff, #9c5fff, #846aff, #6c72ff);
  --secondary-dark-blue: #101935;
  --secondary-purple: #8a51ff;
  --secondary-light-blue: #57c3ff;
  --secondary-blue: #0f43fb;
  --secondary-yellow: #fdb52a;
  --neutral--blue-800: #080f25;
  --neutral--blue-700: #212c4d;
  --neutral--blue-600: #37446b;
  --neutral--grey-500: #7e89ac;
  --neutral--grey-400: #aeb9e1;
  --neutral--blue-300: #d1dbf9;
  --neutral--blue-200: #d9e1fa;
  --neutral-white-100: #ffffff;
  --bg: var(--neutral--blue-800);
  --green: #17c975;
  --green-light: rgba(5, 193, 104, 0.2);
  --red: #ff5565;
  --red-light: rgba(255, 90, 101, 0.2);
  --sans: 'Open Sans', sans-serif;

  font: 400 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
