:root {
  --text: #FFFFFF;
  --primary-purple: #6C72FF;
  --primary-gradient: linear-gradient(to right bottom, #cc3cfe, #b451ff, #9c5fff, #846aff, #6c72ff);
  --secondary-dark-blue: #101935;
  --secondary-purple: #8a51ff;
  --secondary-light-blue: #57C3FF;
  --secondary-blue: #0f43fb;
  --secondary-yellow: #FDB52A;
  --neutral--blue-800: #080F25;
  --neutral--blue-700: #212C4D;
  --neutral--blue-600: #37446B;
  --neutral--grey-500: #7E89AC;
  --neutral--grey-400: #AEB9E1;
  --neutral--blue-300: #D1DBF9;
  --neutral--blue-200: #D9E1FA;
  --neutral-white-100: #FFFFFF;
  --bg: var(--neutral--blue-800);
  --sans: 'Open Sans', sans-serif;

  font: 400 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}